.pokemon-main {
  border-radius: 2%;
}

.pokemon {
  background-color: #3461aa;
  color: white;
  border-radius: 3%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1%;
}

li {
  margin-bottom: 50px;
  text-decoration: none;
}

.item {
  margin: 5px;
}
