#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  right: 1;
}

.home-link {
  border: 1px solid white;
  background-color: blue;
  width: 75px;
  border-radius: 5%;
  padding: 5%;
}
