:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;
}

li {
  list-style-type: none;
  color: white;
}

.title {
  font-family: "Courier New", Courier, monospace;
  font-size: xxx-large;
  color: #3461aa;
}

input, select {
  padding: 5px;
  border: 2px solid red;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}

.search{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.pokemon-body{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 10%;
}